@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>


@section Scripts {

    <script>
        console.log("Area/Identity/Account/ConfirmEmail.cshtml")
    </script>
}